.nsx-header {
	height: 70px;
	line-height: 70px;
	background: $charcoal;
	color: $white;

	.nsx-wrapper{
		padding:0 20px !important;
	}
}

.nsx-heading {
	float: left;
	margin: 0;
	font-weight: $light;
		
	@media (max-width: 767px) {
	font-size:1.2em;
	}	
	@media (max-width: 400px) {
	font-size:0.9em;
	}
}

.nsx-header-nav {
	margin: 0;
	float: right;
	text-align: right;
	list-style: none;
	> li {
		float: left;
		margin-left: 25px;
	}

	@media (max-width: 992px) {
	padding-left: 0;
	}

	@media (max-width: 767px) {
		padding-left:0;
		> li {
			padding-left:0;
			margin-left: 10px;
		}
	}
}

.txt-nsx-share {
	color: #949494;
}

.nsx-link-facebook, .nsx-link-twitter{
		opacity: 0.8;
		transition: all 0.2s ease;

		&:hover {
			opacity: 1;
		}
		img {
			vertical-align:middle;
		}
}
.nsx-register-button{
	@media (max-width: 767px) {
		margin-left:10px;
	}
}
.nsx-btn-register {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background-color: #757575;
	font-family: "UniversCn",Arial,Helvetica,sans-serif;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	padding: 10px 30px;
	font-size: 16px;
	-webkit-box-shadow: 0 -4px 0 0 rgba(255,255,255,0.3) inset;
	box-shadow: 0 -4px 0 0 rgba(255,255,255,0.3) inset;
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
	transition: all 0.3s ease;
	&:hover {
		color: $white;
		background-color: #555;
		-webkit-box-shadow: 0 -2px 0 0 rgba(255,255,255,0.3) inset;
		box-shadow: 0 -2px 0 0 rgba(255,255,255,0.3) inset;
	}
	@media (max-width: 767px) {
	padding: 10px 14px;
	font-size:13px;
	font-weight:$light;
	}	
}

