.nsx-side-nav {
	position: fixed;
	top: 50%;
	right: -230px;
	z-index: 999;
	padding: 0;
	margin: 0;
	width: 230px;
	list-style: none;
	margin-top: -115px;
	@media (max-width: 767px) {
		display:none;
	}	
}

.nsx-side-nav-item {
	position: relative;
	width: 230px;
	margin-left: -38px;
	height: 38px;
	line-height: 38px;
	background: #282828;
	color: $white;
	margin-bottom: 1px;
	cursor: pointer;
	padding-right: 20px;
	font-family: "UniversCn", sans-serif;
	font-weight: $light;
	font-size: 16px;
	@extend .ease;

	&:hover {
		margin-left: -230px;
	}

	a{
		color: $white;
		font-weight: $light;
		font-size: 16px;
	}
}

.nsx-nav-to-top {
	margin-top: 8px;
}



.nsx-side-nav-number {
	background: #851b1b;
	height: 38px;
	width: 38px;
	line-height: 38px;
	display: block;
	float: left;
	margin-right: 10px;
	text-align: center;
	font-family: "universltstd", sans-serif;
	font-weight: $light;

	&.nsx-to-top {
		text-indent: -9999px;
		background: #851b1b url('../img/nsx-nav-top.png') no-repeat center center;
	}

}