/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  width: 100%;
  overflow-x: hidden; }

.nsx-wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 768px) and (max-width: 992px) {
    .nsx-wrapper {
      padding: 0 50px; } }

.nsx-showroom-page {
  position: relative;
  box-sizing: border-box;
  font-family: "UniversStd", sans-serif;
  overflow-x: hidden; }
  .nsx-showroom-page *, .nsx-showroom-page *:before, .nsx-showroom-page *:after {
    box-sizing: inherit; }

.nsx-panel {
  border-bottom: 1px solid #FFF;
  background-color: #000; }

a {
  text-decoration: none; }

.mbYTP_wrapper:before {
  content: "";
  background: url(../img/stripe-overlay.png) !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }

#nsx-hero .mbYTP_wrapper:before {
  display: none; }

.nsx-more {
  position: relative; }
  .nsx-more:after {
    cursor: pointer;
    content: "";
    position: absolute;
    background: url(../img/angle-right.png) no-repeat center;
    background-size: 100%;
    width: 10px;
    height: 10px;
    right: -15px;
    bottom: 2px; }

@font-face {
  font-family: "UniversStd";
  src: url("../webfonts/universltstd.eot");
  src: url("../webfonts/universltstd.eot?#iefix") format("embedded-opentype"), url("../webfonts/universltstd.woff") format("woff"), url("../webfonts/universltstd.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "UniversStd";
  src: url("../webfonts/universltstd-light.eot");
  src: url("../webfonts/universltstd-light.eot?#iefix") format("embedded-opentype"), url("../webfonts/universltstd-light.woff") format("woff"), url("../webfonts/universltstd-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "UniversStd";
  src: url("../webfonts/universltstd-bold.eot");
  src: url("../webfonts/universltstd-bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/universltstd-bold.woff") format("woff"), url("../webfonts/universltstd-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "UniversCn";
  src: url("../webfonts/universltstd-cn.eot");
  src: url("../webfonts/universltstd-cn.eot?#iefix") format("embedded-opentype"), url("../webfonts/universltstd-cn.woff") format("woff"), url("../webfonts/universltstd-cn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "UniversCn";
  src: url("../webfonts/universltstd-cn-light.eot");
  src: url("../webfonts/universltstd-cn-light.eot?#iefix") format("embedded-opentype"), url("../webfonts/universltstd-cn-light.woff") format("woff"), url("../webfonts/universltstd-cn-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "UniversCn";
  src: url("../webfonts/universltstd-cn-bold.eot");
  src: url("../webfonts/universltstd-cn-bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/universltstd-cn-bold.woff") format("woff"), url("../webfonts/universltstd-cn-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.no-br {
  white-space: nowrap; }

.ul-justify {
  text-align: justify;
  padding-left: 0; }
  .ul-justify:after {
    width: 100%;
    display: inline-block;
    content: ".";
    visibility: hidden; }
  .ul-justify > li {
    display: inline-block; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus {
  outline: none; }

.slides {
  margin: 0;
  padding: 0;
  list-style: none; }
  .slides > li {
    margin: 0;
    padding: 0;
    list-style: none; }

.flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }
  .flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden; }
  .flexslider .slides img {
    width: 100%;
    display: block; }
  .flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  position: relative;
  zoom: 1; }
  .flexslider .slides {
    zoom: 1; }
    .flexslider .slides img {
      height: auto; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .flex-direction-nav a:before {
      font-family: "flexslider-icon";
      font-size: 40px;
      display: inline-block;
      content: '\f001';
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }
    .flex-direction-nav a.flex-next:before {
      content: '\f002'; }
  .flex-direction-nav .flex-prev {
    left: -50px; }
  .flex-direction-nav .flex-next {
    right: -50px;
    text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }
  .flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1; }
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }
  .flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }
  .flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004'; }
  .flex-pauseplay a:hover {
    opacity: 1; }
  .flex-pauseplay a .flex-play:before {
    content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }
  .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7); }
  .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0; }
  .flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .flex-control-thumbs img:hover {
      opacity: 1; }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
.nsx-header {
  height: 70px;
  line-height: 70px;
  background: #282828;
  color: #FFF; }
  .nsx-header .nsx-wrapper {
    padding: 0 20px !important; }

.nsx-heading {
  float: left;
  margin: 0;
  font-weight: 100; }
  @media (max-width: 767px) {
    .nsx-heading {
      font-size: 1.2em; } }
  @media (max-width: 400px) {
    .nsx-heading {
      font-size: 0.9em; } }

.nsx-header-nav {
  margin: 0;
  float: right;
  text-align: right;
  list-style: none; }
  .nsx-header-nav > li {
    float: left;
    margin-left: 25px; }
  @media (max-width: 992px) {
    .nsx-header-nav {
      padding-left: 0; } }
  @media (max-width: 767px) {
    .nsx-header-nav {
      padding-left: 0; }
      .nsx-header-nav > li {
        padding-left: 0;
        margin-left: 10px; } }

.txt-nsx-share {
  color: #949494; }

.nsx-link-facebook, .nsx-link-twitter {
  opacity: 0.8;
  transition: all 0.2s ease; }
  .nsx-link-facebook:hover, .nsx-link-twitter:hover {
    opacity: 1; }
  .nsx-link-facebook img, .nsx-link-twitter img {
    vertical-align: middle; }

@media (max-width: 767px) {
  .nsx-register-button {
    margin-left: 10px; } }

.nsx-btn-register {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #757575;
  font-family: "UniversCn",Arial,Helvetica,sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  padding: 10px 30px;
  font-size: 16px;
  -webkit-box-shadow: 0 -4px 0 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 -4px 0 0 rgba(255, 255, 255, 0.3) inset;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  transition: all 0.3s ease; }
  .nsx-btn-register:hover {
    color: #FFF;
    background-color: #555;
    -webkit-box-shadow: 0 -2px 0 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 -2px 0 0 rgba(255, 255, 255, 0.3) inset; }
  @media (max-width: 767px) {
    .nsx-btn-register {
      padding: 10px 14px;
      font-size: 13px;
      font-weight: 100; } }

.nsx-side-nav {
  position: fixed;
  top: 50%;
  right: -230px;
  z-index: 999;
  padding: 0;
  margin: 0;
  width: 230px;
  list-style: none;
  margin-top: -115px; }
  @media (max-width: 767px) {
    .nsx-side-nav {
      display: none; } }

.nsx-side-nav-item {
  position: relative;
  width: 230px;
  margin-left: -38px;
  height: 38px;
  line-height: 38px;
  background: #282828;
  color: #FFF;
  margin-bottom: 1px;
  cursor: pointer;
  padding-right: 20px;
  font-family: "UniversCn", sans-serif;
  font-weight: 100;
  font-size: 16px; }
  .nsx-side-nav-item:hover {
    margin-left: -230px; }
  .nsx-side-nav-item a {
    color: #FFF;
    font-weight: 100;
    font-size: 16px; }

.nsx-nav-to-top {
  margin-top: 8px; }

.nsx-side-nav-number {
  background: #851b1b;
  height: 38px;
  width: 38px;
  line-height: 38px;
  display: block;
  float: left;
  margin-right: 10px;
  text-align: center;
  font-family: "universltstd", sans-serif;
  font-weight: 100; }
  .nsx-side-nav-number.nsx-to-top {
    text-indent: -9999px;
    background: #851b1b url("../img/nsx-nav-top.png") no-repeat center center; }

.nsx-panel-hero {
  height: 670px;
  background: #000 url(../img/nsx-hero-panel.jpg) no-repeat center center;
  position: relative;
  overflow: hidden; }

.nsx-logo {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -173px;
  width: 347px;
  height: 77px;
  background: url(../img/nsx-logo.png) no-repeat center center; }
  @media (max-width: 400px) {
    .nsx-logo {
      width: 94%;
      margin-left: 3%;
      background-size: 100%;
      left: 0; } }

.nsx-btn-play, .nsx-btn-play-mobile {
  width: 101px;
  height: 101px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 209px;
  background: url(../img/play-btn.png) no-repeat center center;
  cursor: pointer; }

.nsx-playbtn-link {
  display: block;
  height: 100%;
  width: 100%; }

.nsx-hero-poster {
  background: url(../img/nsx-hero-panel.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  height: 669px;
  z-index: 1; }

.nsx-btn-pause {
  color: #FFF;
  text-transform: uppercase;
  font-style: italic;
  font-size: 15px;
  position: absolute;
  top: 30px;
  right: 30px;
  padding-right: 40px;
  line-height: 35px;
  cursor: pointer;
  opacity: 0.7;
  font-family: "UniversStd", sans-serif;
  transition: all 0.3s ease;
  display: none; }
  .nsx-btn-pause:after {
    content: "X";
    border: 1px solid #FFF;
    height: 30px;
    font-style: normal;
    width: 30px;
    line-height: 30px;
    position: absolute;
    display: block;
    right: 0px;
    top: 0;
    text-align: center; }
  .nsx-btn-pause:hover {
    opacity: 1; }

.nsx-mute-btn {
  position: absolute;
  bottom: 30px;
  right: 50px;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  font-size: 13px;
  text-transform: uppercase;
  padding-right: 40px;
  background: no-repeat bottom right;
  height: 20px;
  line-height: 36px;
  cursor: pointer;
  z-index: 99;
  display: none; }
  .nsx-mute-btn:hover {
    color: white; }
  .nsx-mute-btn.nsx-sound-off {
    background-image: url(../img/sound-off.png); }
  .nsx-mute-btn.nsx-sound-on {
    background-image: url(../img/sound-on.png); }

.nsx-panel-info {
  height: 448px;
  background: #000 url(../img/bg-nsx-info.jpg) no-repeat center center;
  color: #FFF;
  text-align: center;
  background-size: auto 100%; }
  .nsx-panel-info p {
    color: #FFF;
    opacity: 0.7;
    font-size: 15px;
    max-width: 750px;
    margin: 0 auto;
    line-height: 25px; }
    .nsx-panel-info p.nsx-info-p {
      margin-bottom: 25px; }
  @media (max-width: 767px) {
    .nsx-panel-info {
      height: auto; } }

.nsx-divider {
  height: 1px;
  background: #FFF;
  width: 20px;
  margin: 30px auto;
  border: 0; }

.nsx-panel-info {
  padding: 60px 0; }

.nsx-info-heading {
  font-weight: 100;
  font-style: italic;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 25px;
  color: #FFF; }

.nsx-info-subheading {
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase; }
  .nsx-info-subheading > a {
    color: #d40e0e;
    position: relative; }
    .nsx-info-subheading > a:after {
      content: "";
      height: 1px;
      background: #d40e0e;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0; }
    @media (max-width: 400px) {
      .nsx-info-subheading > a {
        font-size: 16px; } }

.ease, .nsx-side-nav-item, .nsx-mute-btn, .nsx-feature-nav-item, .nsx-feature-nav-item:before, .nsx-tooltip, .back-btn, .nsx-history-nav-item, .nsx-history-nav-item:before, .nsx-pause-toggle, .nsx-register-btn {
  transition: all 0.3s cubic-bezier(1, 0, 0, 1); }

.nsx-panel-features {
  height: 100%;
  overflow: hidden;
  background: #000 url(../img/bg-nsx-features.jpg) no-repeat center center; }
  .nsx-panel-features .nsx-wrapper {
    max-width: 1425px;
    padding: 0; }
    @media (max-width: 767px) {
      .nsx-panel-features .nsx-wrapper {
        padding: 0; } }

.nsx-features-slides {
  margin: 0; }

.nsx-features-flexslider {
  margin: 0; }

.nsx-features-nav {
  position: absolute;
  left: 15%;
  top: 15%;
  z-index: 20;
  padding: 0;
  margin: 0;
  width: 60px;
  list-style: none;
  z-index: 99; }
  @media (max-width: 992px) {
    .nsx-features-nav {
      top: 5%; } }
  @media (max-width: 767px) {
    .nsx-features-nav {
      width: 72%;
      left: 0;
      top: auto;
      bottom: 30px;
      margin-left: 14%;
      text-align: justify; } }
  @media (max-width: 400px) {
    .nsx-features-nav {
      width: 94%;
      margin-left: 3%;
      bottom: -24px; } }
  @media (max-width: 767px) {
    .nsx-features-nav:after {
      width: 100%;
      display: inline-block;
      content: ".";
      visibility: hidden; } }

.nsx-feature-nav-item {
  border: 1px solid #FFF;
  border-radius: 100%;
  margin: 0 auto 19px auto;
  width: 35px;
  height: 35px;
  background: no-repeat center center;
  background-size: 100%;
  cursor: pointer;
  position: relative; }
  .nsx-feature-nav-item:hover {
    width: 40px;
    height: 40px; }
  .nsx-feature-nav-item:last-of-type:after {
    display: none; }
  .nsx-feature-nav-item:before {
    content: "";
    background: url(../img/side-nav-active.png) no-repeat center center;
    width: 54px;
    height: 32px;
    position: absolute;
    right: 0px;
    opacity: 0;
    bottom: 6px; }
    @media (max-width: 767px) {
      .nsx-feature-nav-item:before {
        display: none; } }
    @media (max-width: 400px) {
      .nsx-feature-nav-item:before {
        left: -8px; } }
  .nsx-feature-nav-item:after {
    content: "";
    height: 17px;
    border-right: 1px dotted #FFF;
    bottom: -20px;
    position: absolute;
    left: 50%; }
    @media (max-width: 836px) and (min-width: 768px) {
      .nsx-feature-nav-item:after {
        height: 10px;
        bottom: -10px; } }
    @media (max-width: 767px) {
      .nsx-feature-nav-item:after {
        border-right: 0;
        border-bottom: 1px dotted #FFF;
        left: 100%;
        bottom: 16px;
        width: 150%;
        height: 0; } }
    @media (max-width: 500px) {
      .nsx-feature-nav-item:after {
        width: 90%; } }
  .nsx-feature-nav-item.nav-item-1 {
    background-image: url(../img/t_front34.jpg); }
  .nsx-feature-nav-item.nav-item-2 {
    background-image: url(../img/t_front.jpg); }
  .nsx-feature-nav-item.nav-item-3 {
    background-image: url(../img/t_top.jpg); }
  .nsx-feature-nav-item.nav-item-4 {
    background-image: url(../img/t_back34.jpg); }
  .nsx-feature-nav-item.nav-item-5 {
    background-image: url(../img/t_front34l.jpg); }
  .nsx-feature-nav-item.nav-item-6 {
    background-image: url(../img/t_side.jpg); }
  .nsx-feature-nav-item.nav-item-7 {
    background-image: url(../img/t_back.jpg); }
  .nsx-feature-nav-item.active {
    width: 50px;
    height: 50px; }
    @media (max-width: 400px) {
      .nsx-feature-nav-item.active {
        width: 40px;
        height: 40px; } }
    .nsx-feature-nav-item.active:before {
      content: "";
      background: url(../img/side-nav-active.png) no-repeat center center;
      width: 54px;
      height: 32px;
      position: absolute;
      right: -54px;
      opacity: 1; }
      @media (max-width: 767px) {
        .nsx-feature-nav-item.active:before {
          display: none; } }
      @media (max-width: 400px) {
        .nsx-feature-nav-item.active:before {
          left: -7px;
          top: -90%; } }
    .nsx-feature-nav-item.active:after {
      content: "";
      height: 17px;
      border-right: 1px dotted #FFF;
      bottom: -20px;
      position: absolute;
      left: 50%; }
      @media (max-width: 767px) {
        .nsx-feature-nav-item.active:after {
          border-right: 0;
          border-bottom: 1px dotted #FFF;
          left: 100%;
          bottom: 16px;
          width: 120%;
          height: 0; } }
      @media (max-width: 500px) {
        .nsx-feature-nav-item.active:after {
          width: 90%; } }
  @media (max-width: 836px) and (min-width: 768px) {
    .nsx-feature-nav-item {
      margin: 0 auto 10px auto; } }
  @media (max-width: 767px) {
    .nsx-feature-nav-item {
      display: inline-block; } }
  @media (max-width: 400px) {
    .nsx-feature-nav-item {
      width: 30px;
      height: 30px; } }

.nsx-tooltip {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 100;
  opacity: 0.8;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  cursor: pointer;
  font-size: 10px;
  line-height: 20px;
  z-index: 999;
  display: block;
  padding-right: 10px; }
  .nsx-tooltip:hover {
    opacity: 1;
    cursor: pointer; }
  .nsx-tooltip.hidden {
    opacity: 0; }
  .nsx-tooltip:before {
    cursor: pointer;
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: -37px;
    background: url(../img/tooltip-bg.png) no-repeat left center;
    width: 31px;
    height: 31px;
    margin-right: 7px; }
  .nsx-tooltip:hover:before {
    background: url(../img/tooltip-bg-hover.png) no-repeat left center; }
  @media (max-width: 767px) {
    .nsx-tooltip {
      display: none; } }

.nsx-feature-slide-1 .nsx-tooltip-interior {
  top: 210px;
  left: 583px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-1 .nsx-tooltip-interior {
      top: 28%;
      left: 44%; } }
.nsx-feature-slide-1 .nsx-tooltip-technology {
  top: 215px;
  left: 720px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-1 .nsx-tooltip-technology {
      top: 34%;
      left: 53%; } }
.nsx-feature-slide-1 .nsx-tooltip-multi {
  top: 482px;
  left: 553px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-1 .nsx-tooltip-multi {
      top: 74%;
      left: 42%; } }

.nsx-feature-slide-2 .nsx-tooltip-interior {
  top: 150px;
  left: 568px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-2 .nsx-tooltip-interior {
      top: 23%;
      left: 41%; } }
.nsx-feature-slide-2 .nsx-tooltip-technology {
  top: 180px;
  left: 822px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-2 .nsx-tooltip-technology {
      top: 28%;
      left: 59%; } }

.nsx-feature-slide-3 .nsx-tooltip-engine {
  top: 301px;
  left: 523px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-3 .nsx-tooltip-engine {
      top: 46%;
      left: 37%; } }
.nsx-feature-slide-3 .nsx-tooltip-technology {
  top: 220px;
  left: 784px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-3 .nsx-tooltip-technology {
      top: 35%;
      left: 57%; } }

.nsx-feature-slide-4 .nsx-tooltip-engine {
  top: 210px;
  left: 584px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-4 .nsx-tooltip-engine {
      top: 32%;
      left: 37%; } }
.nsx-feature-slide-4 .nsx-tooltip-technology {
  top: 232px;
  left: 903px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-4 .nsx-tooltip-technology {
      top: 37%;
      left: 65%; } }
.nsx-feature-slide-4 .nsx-tooltip-multi {
  top: 372px;
  left: 858px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-4 .nsx-tooltip-multi {
      top: 56%;
      left: 62%; } }

.nsx-feature-slide-5 .nsx-tooltip-interior {
  top: 190px;
  left: 764px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-5 .nsx-tooltip-interior {
      top: 30%;
      left: 55%; } }
.nsx-feature-slide-5 .nsx-tooltip-technology {
  top: 212px;
  left: 573px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-5 .nsx-tooltip-technology {
      top: 33%;
      left: 41%; } }
.nsx-feature-slide-5 .nsx-tooltip-multi {
  top: 372px;
  left: 768px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-5 .nsx-tooltip-multi {
      top: 56%;
      left: 55%; } }

.nsx-feature-slide-6 .nsx-tooltip-engine {
  top: 250px;
  left: 414px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-6 .nsx-tooltip-engine {
      top: 38%;
      left: 29%; } }
.nsx-feature-slide-6 .nsx-tooltip-interior {
  top: 240px;
  left: 644px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-6 .nsx-tooltip-interior {
      top: 36%;
      left: 47%; } }
.nsx-feature-slide-6 .nsx-tooltip-technology {
  top: 252px;
  left: 813px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-6 .nsx-tooltip-technology {
      top: 38%;
      left: 59%; } }
.nsx-feature-slide-6 .nsx-tooltip-multi {
  top: 428px;
  left: 1048px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-6 .nsx-tooltip-multi {
      top: 68%;
      left: 77%; } }

.nsx-feature-slide-7 .nsx-tooltip-engine {
  top: 172px;
  left: 694px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-7 .nsx-tooltip-engine {
      top: 27%;
      left: 51%; } }
.nsx-feature-slide-7 .nsx-tooltip-interior {
  top: 150px;
  left: 624px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-7 .nsx-tooltip-interior {
      top: 23%;
      left: 45%; } }
.nsx-feature-slide-7 .nsx-tooltip-multi {
  top: 428px;
  left: 1048px; }
  @media (max-width: 1420px) {
    .nsx-feature-slide-7 .nsx-tooltip-multi {
      top: 65%;
      left: 76%; } }

.btn-hide-hotspots {
  font-size: 11px;
  position: absolute;
  bottom: 79px;
  right: 0;
  z-index: 99;
  width: 234px;
  height: 28px;
  color: #FFF;
  font-style: italic;
  text-transform: uppercase;
  background: url(../img/hide-tooltips.png) no-repeat top left;
  padding-left: 24px;
  line-height: 50px;
  cursor: pointer; }
  .btn-hide-hotspots .txt-show-hotspots {
    display: none; }
  .btn-hide-hotspots.hide-tooltip {
    background: url(../img/show-tooltips.png) no-repeat top left; }
    .btn-hide-hotspots.hide-tooltip .txt-show-hotspots {
      display: block; }
    .btn-hide-hotspots.hide-tooltip .txt-hide-hotspots {
      display: none; }
  @media (max-width: 992px) {
    .btn-hide-hotspots {
      bottom: auto;
      top: 53px;
      right: -44px; } }
  @media (max-width: 767px) {
    .btn-hide-hotspots {
      display: none; } }

.nsx-download-wallpapers {
  position: absolute;
  bottom: 135px;
  right: 0px;
  z-index: 99;
  width: 234px;
  height: 66px;
  padding-left: 27px;
  background: url(../img/wallpaper-download-bg.png) no-repeat top 30px right; }
  .nsx-download-wallpapers span {
    color: #FFF;
    font-style: italic;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .nsx-download-wallpapers span br {
        display: none; } }
  .nsx-download-wallpapers ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    @media (max-width: 992px) {
      .nsx-download-wallpapers ul {
        display: inline-block;
        vertical-align: middle;
        line-height: 11px;
        margin-left: 10px; } }
    .nsx-download-wallpapers ul > li {
      display: inline-block;
      margin-right: 10px; }
      .nsx-download-wallpapers ul > li a {
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease; }
        .nsx-download-wallpapers ul > li a:hover {
          opacity: 0.6; }
      @media (max-width: 992px) {
        .nsx-download-wallpapers ul > li {
          display: none; }
          .nsx-download-wallpapers ul > li:nth-child(2) {
            display: inline-block; } }
      @media (max-width: 767px) {
        .nsx-download-wallpapers ul > li {
          display: none; }
          .nsx-download-wallpapers ul > li:first-child {
            display: inline-block; }
          .nsx-download-wallpapers ul > li:nth-child(2) {
            display: none; } }
  @media (max-width: 992px) {
    .nsx-download-wallpapers {
      background-image: none;
      bottom: auto;
      margin: 15px;
      text-align: right;
      width: 400px; } }

.nsx-panel-details {
  transition: height 0.5s ease;
  overflow: hidden;
  height: 0px; }
  .nsx-panel-details.open {
    height: 619px; }
  .nsx-panel-details .nsx-wrapper {
    max-width: 1100px; }

#nsx-details-mobile {
  background-color: #282828; }
  @media (min-width: 601px) and (max-width: 767px) {
    #nsx-details-mobile {
      height: 800px; } }
  @media (min-width: 400px) and (max-width: 600px) {
    #nsx-details-mobile {
      height: 700px; } }

.feature-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%; }

.nsx-detail-description {
  position: absolute;
  top: 125px;
  left: 0;
  color: #FFF;
  width: 596px; }

.nsx-next-slide {
  font-size: 16px;
  color: #d40e0e;
  border-bottom: 1px solid #d40e0e;
  font-weight: 700; }

.nsx-detail-heading, .nsx-history-heading {
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #FFF;
  position: relative;
  width: 536px; }
  .nsx-detail-heading:after, .nsx-history-heading:after {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    height: 20px;
    width: 1px;
    position: absolute;
    bottom: -11px;
    right: -2px;
    display: block; }

.nsx-detail-heading-mobile {
  margin: 0;
  font-size: 26px;
  line-height: 29px;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 10px;
  color: #FFF;
  position: relative;
  width: 100%; }

.nsx-detail-paragraph, .nsx-history-paragraph {
  width: 316px;
  font-size: 16px;
  line-height: 27px;
  color: #FFF; }

.nsx-detail-paragraph-mobile {
  width: 100%;
  font-size: 15px;
  line-height: 21px;
  color: #FFF; }

.nsx-detail-mobile-nav {
  width: 100%;
  height: 65px;
  color: #FFF;
  z-index: 400;
  padding: 40px 0 0;
  margin: 0; }

.nsx-detail-mobile-nav-item {
  width: 60px;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  color: white;
  color: rgba(255, 255, 255, 0.5); }
  .nsx-detail-mobile-nav-item.active {
    color: #FFF; }

.nsx-detail-subheading {
  font-size: 16px;
  color: #FFF; }
  .nsx-detail-subheading > a {
    color: #d40e0e;
    position: relative; }
    .nsx-detail-subheading > a:after {
      content: "";
      height: 1px;
      background: #d40e0e;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0; }

.nsx-details-nav-underline {
  width: 100%;
  height: 18px;
  background-color: transparent;
  position: relative;
  margin-top: 0; }
  .nsx-details-nav-underline:before {
    content: ' ';
    display: block;
    height: 1px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 1px;
    right: 1px;
    top: 50%; }
  .nsx-details-nav-underline .nsx-details-nav-vline {
    width: 60px;
    height: 18px; }
    .nsx-details-nav-underline .nsx-details-nav-vline:after {
      content: ' ';
      display: block;
      width: 1px;
      height: 18px;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 auto; }
    .nsx-details-nav-underline .nsx-details-nav-vline.line1:after {
      margin: 0; }
    .nsx-details-nav-underline .nsx-details-nav-vline.line2:after {
      height: 9px; }
    .nsx-details-nav-underline .nsx-details-nav-vline.line3:after {
      height: 9px; }
    .nsx-details-nav-underline .nsx-details-nav-vline.line4:after {
      float: right; }

.nsx-details-slides > li, .nsx-details-slides-mobile > li {
  background: no-repeat center center;
  height: 619px;
  padding-top: 100px; }
  @media (max-width: 767px) {
    .nsx-details-slides > li, .nsx-details-slides-mobile > li {
      background-size: 100%;
      background-position: bottom; } }
  @media (min-width: 601px) and (max-width: 767px) {
    .nsx-details-slides > li, .nsx-details-slides-mobile > li {
      height: 800px; } }
  @media (min-width: 400px) and (max-width: 600px) {
    .nsx-details-slides > li, .nsx-details-slides-mobile > li {
      height: 700px; } }
.nsx-details-slides .nsx-wrapper, .nsx-details-slides-mobile .nsx-wrapper {
  height: 619px; }
.nsx-details-slides .nsx-detail-slide-1, .nsx-details-slides-mobile .nsx-detail-slide-1 {
  background-image: url(../img/nsx-feature-slide-1.jpg); }
  @media (max-width: 767px) {
    .nsx-details-slides .nsx-detail-slide-1, .nsx-details-slides-mobile .nsx-detail-slide-1 {
      background-image: url(../img/nsx-feature-slide-1-mob.jpg); } }
.nsx-details-slides .nsx-detail-slide-2, .nsx-details-slides-mobile .nsx-detail-slide-2 {
  background-image: url(../img/nsx-feature-slide-2.jpg); }
  @media (max-width: 767px) {
    .nsx-details-slides .nsx-detail-slide-2, .nsx-details-slides-mobile .nsx-detail-slide-2 {
      background-image: url(../img/nsx-feature-slide-2-mob.jpg); } }
.nsx-details-slides .nsx-detail-slide-3, .nsx-details-slides-mobile .nsx-detail-slide-3 {
  background-image: url(../img/nsx-feature-slide-3.jpg);
  background-position: 34%; }
  @media (max-width: 767px) {
    .nsx-details-slides .nsx-detail-slide-3, .nsx-details-slides-mobile .nsx-detail-slide-3 {
      background-image: url(../img/nsx-feature-slide-3-mob.jpg);
      background-position: bottom; } }
.nsx-details-slides .nsx-detail-slide-4, .nsx-details-slides-mobile .nsx-detail-slide-4 {
  background-image: url(../img/nsx-feature-slide-4.jpg); }
  @media (max-width: 767px) {
    .nsx-details-slides .nsx-detail-slide-4, .nsx-details-slides-mobile .nsx-detail-slide-4 {
      background-image: url(../img/nsx-feature-slide-4-mob.jpg); } }

.back-btn {
  color: #FFF;
  padding: 0 11px;
  height: 26px;
  line-height: 28px;
  display: inline-block;
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  top: 60px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 10px;
  left: -20px;
  position: relative;
  border: 1px solid #FFF; }
  .back-btn:hover {
    opacity: 1;
    color: #FFF; }
  .back-btn:after {
    background: url(../img/back-arrow.png) no-repeat center center;
    display: block;
    position: absolute;
    top: -1px;
    right: -25px;
    content: "";
    height: 26px;
    border: 1px solid #FFF;
    border-left: 0;
    width: 9px;
    display: inline-block;
    padding: 6px 11px; }

.nsx-panel-history {
  height: 700px;
  background-color: #282828; }
  .nsx-panel-history.nsx-history-device {
    background-image: url(../img/bg_heritage.jpg) !important;
    background-size: 100%; }
  .nsx-panel-history .nsx-wrapper {
    padding: 0 20px 0 200px;
    height: 700px; }
    @media (max-width: 767px) {
      .nsx-panel-history .nsx-wrapper {
        padding: 0 20px; } }
  @media (max-width: 992px) {
    .nsx-panel-history {
      padding: 60px 0;
      height: auto; } }
  @media (max-width: 767px) {
    .nsx-panel-history {
      padding: 60px 0 120px;
      background: url(../img/bg_heritage.jpg) !important;
      height: 800px; } }
  @media (max-width: 600px) {
    .nsx-panel-history {
      padding: 60px 0;
      height: 700px; } }
  @media (max-width: 400px) {
    .nsx-panel-history {
      height: 750px; } }

.nsx-histroy-content {
  height: 700px;
  padding-top: 134px; }
  @media (max-width: 992px) {
    .nsx-histroy-content {
      padding: 0;
      height: auto; } }

.nsx-history-heading {
  line-height: 31px;
  padding-bottom: 17px;
  width: 100%; }
  @media (max-width: 767px) {
    .nsx-history-heading {
      font-size: 20px;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0; }
      .nsx-history-heading:after {
        display: none; } }

.history-subtitle {
  font-size: 18px; }
  @media (max-width: 767px) {
    .history-subtitle {
      font-size: 25px; } }

.nsx-history-nav-ctr {
  position: absolute;
  top: 134px;
  left: 100px; }
  @media (max-width: 767px) {
    .nsx-history-nav-ctr {
      width: 80%;
      left: 0;
      top: auto;
      bottom: -20px;
      margin-left: 10%;
      text-align: justify; } }
  @media (max-width: 600px) {
    .nsx-history-nav-ctr {
      bottom: 52px; } }
  @media (max-width: 400px) {
    .nsx-history-nav-ctr {
      width: 90%;
      bottom: 3%;
      margin-left: 5%; } }

.nsx-history-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 900; }
  @media (max-width: 767px) {
    .nsx-history-nav {
      text-align: justify;
      height: 50px; } }
  @media (max-width: 767px) {
    .nsx-history-nav:after {
      width: 100%;
      display: inline-block;
      content: ".";
      visibility: hidden; } }

.nsx-history-nav-item {
  background: #000 no-repeat center center;
  background-size: 100%;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  border: 1px solid #FFF;
  line-height: 27px;
  text-align: center;
  margin: 0 auto 20px auto;
  color: #FFF;
  font-size: 11px;
  cursor: pointer;
  position: relative; }
  .nsx-history-nav-item:after {
    content: "";
    height: 17px;
    border-right: 1px dotted #FFF;
    bottom: -20px;
    position: absolute;
    z-index: 99;
    left: 50%; }
    @media (max-width: 767px) {
      .nsx-history-nav-item:after {
        border-right: 0;
        border-bottom: 1px dotted #FFF;
        left: 100%;
        bottom: 50%;
        width: 160%;
        height: 0;
        z-index: 0; } }
    @media (max-width: 500px) {
      .nsx-history-nav-item:after {
        width: 100%; } }
  .nsx-history-nav-item span {
    position: absolute;
    top: 34px;
    left: 10px; }
  .nsx-history-nav-item:before {
    content: "";
    background: url(../img/side-nav-active.png) no-repeat center center;
    width: 54px;
    height: 32px;
    position: absolute;
    right: 0px;
    opacity: 0; }
    @media (max-width: 767px) {
      .nsx-history-nav-item:before {
        display: none; } }
  @media (max-width: 767px) {
    .nsx-history-nav-item {
      display: inline-block;
      text-indent: 99999px; } }
  @media (max-width: 400px) {
    .nsx-history-nav-item {
      width: 20px;
      height: 20px; } }
  .nsx-history-nav-item.active {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 12px; }
    @media (max-width: 400px) {
      .nsx-history-nav-item.active {
        width: 30px;
        height: 30px; } }
    .nsx-history-nav-item.active:before {
      content: "";
      background: url(../img/side-nav-active.png) no-repeat center center;
      width: 54px;
      height: 32px;
      position: absolute;
      right: -54px;
      opacity: 1; }
      @media (max-width: 767px) {
        .nsx-history-nav-item.active:before {
          display: none; } }
      @media (max-width: 400px) {
        .nsx-history-nav-item.active:before {
          left: -13px; } }
    .nsx-history-nav-item.active:after {
      content: "";
      height: 17px;
      border-right: 1px dotted #FFF;
      bottom: -20px;
      position: absolute;
      z-index: 99;
      left: 50%; }
      @media (max-width: 767px) {
        .nsx-history-nav-item.active:after {
          border-right: 0;
          border-bottom: 1px dotted #FFF;
          left: 100%;
          bottom: 50%;
          width: 150%;
          height: 0;
          z-index: 0; } }
      @media (max-width: 500px) {
        .nsx-history-nav-item.active:after {
          width: 100%; } }
    .nsx-history-nav-item.active.nav-item-1 {
      background-image: url(../img/t_1983.jpg); }
    .nsx-history-nav-item.active.nav-item-2 {
      background-image: url(../img/t_1986.jpg); }
    .nsx-history-nav-item.active.nav-item-3 {
      background-image: url(../img/t_1989.jpg); }
    .nsx-history-nav-item.active.nav-item-4 {
      background-image: url(../img/t_1990.jpg); }
    .nsx-history-nav-item.active.nav-item-5 {
      background-image: url(../img/t_1995.jpg); }
    .nsx-history-nav-item.active.nav-item-6 {
      background-image: url(../img/t_1997.jpg); }
    .nsx-history-nav-item.active.nav-item-7 {
      background-image: url(../img/t_2002.jpg); }
    .nsx-history-nav-item.active.nav-item-8 {
      background-image: url(../img/t_2012.jpg); }
    .nsx-history-nav-item.active.nav-item-9 {
      background-image: url(../img/t_2015.jpg); }
  .nsx-history-nav-item:last-of-type:after {
    display: none; }

.nsx-history-mobile-years {
  padding: 0;
  margin: 0; }

.nsx-mobile-year {
  color: #FFF;
  width: 27px;
  text-align: center;
  font-size: 13px; }
  @media (max-width: 400px) {
    .nsx-mobile-year {
      width: 20px; } }
  .nsx-mobile-year.active {
    width: 36px; }
    @media (max-width: 400px) {
      .nsx-mobile-year.active {
        width: 30px; } }

.nsx-red-text {
  color: #d40e0e; }

.nsx-history-description {
  height: 700px;
  position: relative;
  z-index: 99;
  width: 48%;
  display: inline-block;
  padding-right: 5%;
  right: 50%;
  vertical-align: top; }
  @media (max-width: 1200px) {
    .nsx-history-description {
      width: 34%;
      right: 60%; } }
  @media (max-width: 992px) {
    .nsx-history-description {
      width: 100%;
      display: block;
      right: auto;
      height: auto;
      padding-top: 40px; } }
  @media (max-width: 767px) {
    .nsx-history-description {
      padding: 0;
      top: 0;
      max-width: 600px;
      margin: 0 auto; } }

.v-center {
  display: inline-block;
  vertical-align: middle; }

.nsx-history-image {
  width: 48%;
  display: inline-block; }
  @media (max-width: 767px) {
    .nsx-history-image {
      margin: 0 auto; } }

.history-image {
  position: relative;
  top: 0;
  left: 50%;
  z-index: -1;
  min-width: 350px; }
  .history-image .nsx-history-image {
    max-width: 600px;
    width: 90% !important; }
  .history-image img.nsx-car-image {
    position: absolute;
    bottom: -125px;
    max-width: 440px;
    right: -80px;
    display: none !important; }
    @media (max-width: 767px) {
      .history-image img.nsx-car-image {
        bottom: -80px; } }
  @media (max-width: 1200px) {
    .history-image {
      width: 59%;
      left: 33%; } }
  @media (max-width: 992px) {
    .history-image {
      width: 80%;
      display: block;
      left: auto;
      height: auto; } }
  @media (max-width: 767px) {
    .history-image {
      padding: 0;
      top: auto;
      margin: 0 auto 36px;
      min-width: 0; } }
  @media (max-width: 400px) {
    .history-image {
      margin: 0 auto 20px; } }

.flex-active-slide img.nsx-car-image {
  display: block !important; }

.nsx-history-paragraph {
  width: auto; }
  @media (max-width: 992px) {
    .nsx-history-paragraph {
      font-size: 15px;
      line-height: 21px; } }

.nsx-panel-history .mbYTP_wrapper:before {
  content: "";
  background: rgba(0, 0, 0, 0.7) url(../img/stripe-overlay.png) !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }

.nsx-pause-toggle {
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-style: italic;
  position: absolute;
  bottom: 90px;
  right: 30px;
  color: #FFF;
  opacity: 0.7;
  border: 1px solid #FFF;
  height: 30px;
  line-height: 33px;
  width: 66px;
  text-align: center;
  z-index: 900; }
  .nsx-pause-toggle:hover {
    opacity: 1; }
  @media (max-width: 992px) {
    .nsx-pause-toggle {
      bottom: 0; } }

.nsx-panel-form {
  background: #222 url(../img/form-bg-top.jpg) no-repeat top center;
  padding: 96px 0;
  color: #FFF;
  border-bottom: 0;
  border-top: 1px solid #FFF; }
  @media (max-width: 767px) {
    .nsx-panel-form {
      padding: 60px 0; } }
  .nsx-panel-form .error-msg {
    height: 25px;
    line-height: 30px;
    position: absolute;
    left: 248px;
    top: 10px;
    width: 400px;
    color: #de1932;
    padding-left: 40px;
    font-style: italic;
    font-size: 0.875rem;
    left: auto;
    right: -600px;
    width: 600px; }
    @media (max-width: 767px) {
      .nsx-panel-form .error-msg {
        position: static;
        padding-left: 0;
        clear: both; } }
  .nsx-panel-form .valid-form-field {
    right: -26px; }
  .nsx-panel-form .valid input, .nsx-panel-form .valid select {
    padding: 0 10px !important; }

.nsx-form-heading {
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  color: #FFF;
  line-height: 38px; }
  .nsx-form-heading b {
    font-weight: 700; }
  @media (max-width: 767px) {
    .nsx-form-heading {
      font-size: 27px;
      line-height: 29px; } }

.nsx-form-paragraph {
  font-size: 16px;
  line-height: 26px; }

.nsx-form-hr {
  height: 1px;
  width: 384px;
  border: 0;
  border-bottom: 1px dotted #949494;
  margin: 36px 0; }
  @media (max-width: 767px) {
    .nsx-form-hr {
      width: 100%; } }

.nsx-form-disclaimer {
  color: #808080;
  font-size: 12px;
  line-height: 18px;
  max-width: 670px; }

.nsx-form-field {
  clear: both;
  margin-bottom: 15px;
  height: 46px;
  display: inline-block;
  position: relative; }
  @media (max-width: 767px) {
    .nsx-form-field {
      width: 100%; } }

.nsx-form-label {
  background: #d9d9d9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk0JSIgc3RvcC1jb2xvcj0iI2MxYzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #d9d9d9 0%, #d9d9d9 73%, #c1c1c1 94%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d9d9d9), color-stop(73%, #d9d9d9), color-stop(94%, #c1c1c1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d9d9d9 0%, #d9d9d9 73%, #c1c1c1 94%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d9d9d9 0%, #d9d9d9 73%, #c1c1c1 94%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d9d9d9 0%, #d9d9d9 73%, #c1c1c1 94%);
  /* IE10+ */
  background: linear-gradient(to right, #d9d9d9 0%, #d9d9d9 73%, #c1c1c1 94%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#c1c1c1',GradientType=1 );
  /* IE6-8 */
  width: 150px;
  height: 44px;
  line-height: 48px;
  font-size: 15px;
  display: inline-block;
  font-weight: 700;
  text-align: right;
  color: #000;
  padding: 0 15px;
  float: left; }
  @media (max-width: 767px) {
    .nsx-form-label {
      width: 33%; } }
  @media (max-width: 500px) {
    .nsx-form-label {
      width: 36%;
      font-size: 14px;
      padding: 0 13px; } }
  @media (max-width: 400px) {
    .nsx-form-label {
      font-size: 13px;
      padding-right: 9px; } }

.nsx-form-input {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  width: 233px;
  height: 44px;
  padding: 0 15px;
  background: #e6e6e6;
  border: 0px solid #FFF;
  transition: all 0.2s ease;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  color: #282828;
  position: relative; }
  .nsx-form-input:focus {
    border: 1px solid #FFF;
    transition: all 0.3s ease;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1); }
  @media (max-width: 767px) {
    .nsx-form-input {
      width: 67%; } }
  @media (max-width: 500px) {
    .nsx-form-input {
      width: 64%; } }

.nsx-short-field {
  width: 120px; }

@media (max-width: 767px) {
  .nsx-short-label {
    width: 33%;
    max-width: none; } }
@media (max-width: 500px) {
  .nsx-short-label {
    width: 36%; } }

.nsx-form-select {
  background: #e6e6e6 url(../img/select-down-arrow.png) no-repeat top 19px right 14px; }

.nsx-register-btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: #de1932;
  color: #FFF;
  border-bottom: 4px solid #e85e70;
  padding: 14px 24px;
  text-transform: uppercase;
  font-family: "UniversCn",Arial,Helvetica,sans-serif;
  font-weight: 700;
  margin: 24px 0; }
  .nsx-register-btn:hover {
    background: #b01428;
    border-bottom-width: 2px; }
  @media (max-width: 767px) {
    .nsx-register-btn {
      width: 100%; } }

.red {
  color: #d40e0e; }

.nsx-panel-form:not(#foo) input[type='checkbox'] {
  /* Hide the input, but have it still be clickable */
  opacity: 0;
  float: left;
  width: 0px; }
.nsx-panel-form:not(#foo) input[type='checkbox'] + label {
  font-size: 15px;
  margin: 0;
  clear: none;
  /* Left padding makes room for image */
  padding: 20px 0 20px 55px;
  /* Make look clickable because they are */
  cursor: pointer;
  background: url(../img/checkbox-off.gif) left center no-repeat; }
.nsx-panel-form:not(#foo) input[type='checkbox']:checked + label {
  background-image: url(../img/checkbox-on.gif); }

.nsx-checkbox-label {
  float: left; }

.nsx-form-input.valid {
  border: 3px solid #4ea117; }
.nsx-form-input.error {
  border: 3px solid #d40e0e; }

.nsx-form-field label.error, .nsx-form-field label.valid {
  text-indent: -9999px;
  background: no-repeat center center;
  width: 26px;
  height: 23px;
  display: block;
  position: absolute;
  right: -27px;
  top: 10px; }
.nsx-form-field label.error {
  background-image: url(../img/form-validation-error.gif); }
  @media (max-width: 767px) {
    .nsx-form-field label.error {
      background-image: none; } }
.nsx-form-field label.valid {
  background-image: url(../img/form-validation-valid.gif); }

.nsx-form-disclaimer a {
  text-decoration: underline;
  color: #808080; }
  @media (max-width: 767px) {
    .nsx-form-disclaimer a {
      color: #d40e0e; } }

/*# sourceMappingURL=styles.css.map */
