.nsx-panel-details {
	transition: height 0.5s ease;
	overflow: hidden;
	height: 0px;
	&.open {
		height: 619px;
	}
	.nsx-wrapper {
		max-width: 1100px;
		
	}

}
#nsx-details-mobile{
	background-color:$charcoal;

	@media (min-width:601px) and (max-width: 767px){
		height:800px;
	}

	@media (min-width:400px) and (max-width: 600px){
		height:700px;
	}
	
}
.feature-nav-wrapper{
		position:absolute;
		top: 0;
		left: 0;
		z-index: 8;
		width: 100%;
}

.nsx-detail-description {
	position: absolute;
	top: 125px;
	left: 0;
	color: $white;
	width: 596px;
}
.nsx-next-slide{
	font-size:16px;
	color:$red;
	border-bottom:1px solid $red;
	font-weight: $bold;
}

.nsx-detail-heading, .nsx-history-heading {
	margin: 0;
	font-size: 40px;
	line-height: 50px;
	font-weight: $light;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 10px;
	margin-bottom: 20px;
	color: $white;
	position: relative;
	width: 536px;

	&:after {
		content: "";
		background: rgba(255,255,255,0.5);
		height: 20px;
		width: 1px;
		position: absolute;
		bottom: -11px;
		right: -2px;
		display: block;	
	}

}
.nsx-detail-heading-mobile {
	margin: 0;
	font-size: 26px;
	line-height: 29px;
	font-weight: $light;
	text-transform: uppercase;
	padding-bottom: 0;
	margin-bottom: 10px;
	color: $white;
	position: relative;
	width: 100%;
	
}
.nsx-detail-paragraph, .nsx-history-paragraph {
	width: 316px;
	font-size: 16px;
	line-height: 27px;
	color: $white;
}
.nsx-detail-paragraph-mobile {
	width: 100%;
	font-size: 15px;
	line-height: 21px;
	color: $white;
}
.nsx-detail-mobile-nav{
	width:100%;
	height:65px;
	color:$white;
	z-index:400;
	padding:40px 0 0;
	margin:0;
	//border-bottom: 1px solid rgba(255,255,255,0.5);

}
.nsx-detail-mobile-nav-item{
	width:60px;
	text-transform:uppercase;
	font-size: 13px;
	cursor:pointer;
	color: rgb(255,255,255);
	color: rgba(255,255,255,0.5);
	&.active{
		color:$white;
	}
}
.nsx-detail-subheading {
	font-size: 16px;
	
	color: $white;

	> a {
		color: $red;
		position: relative;
		&:after {
			content: "";
			height: 1px;
			background: $red;
			position: absolute;
			bottom: -2px;
			left: 0;
			right: 0;
		}
	}
}
.nsx-details-nav-underline{
	width:100%;
	height:18px;
	background-color: transparent;
	position:relative;
	margin-top:0;
		&:before{
			content:' ';
			display:block;
			height:1px;
			background-color: rgb(255,255,255);
			background-color: rgba(255,255,255,0.5);
			position:absolute;
			left:1px;
			right:1px;
			top:50%;
			}
	.nsx-details-nav-vline{
		width:60px;
		height: 18px;
		
	&:after{
		content:' ';
		display:block;
		width:1px;
		height:18px;
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255,0.5);
		margin:0 auto;
	}
	&.line1{
		&:after{
			margin:0;
		}

	}
	&.line2{
		&:after{
			height:9px;
		}
	}
	&.line3{
		&:after{
			height:9px;
		}
	}
	&.line4{
		&:after{
			float:right;
		}
	}
	}
}
.nsx-details-slides, .nsx-details-slides-mobile {
	> li {
		background: no-repeat center center;
		height: 619px;
		padding-top:100px;


		@media (max-width: 767px){
			background-size: 100%;
			background-position:bottom;
		}

		@media (min-width:601px) and (max-width: 767px){
			height:800px;
		}

		@media (min-width:400px) and (max-width: 600px){
			height:700px;
		}
	}
	.nsx-wrapper {
		height: 619px;
	}

	.nsx-detail-slide-1 {
		background-image: url(../img/nsx-feature-slide-1.jpg);

		@media (max-width: 767px){
			background-image: url(../img/nsx-feature-slide-1-mob.jpg);
		}
		
	}
	.nsx-detail-slide-2 {
		background-image: url(../img/nsx-feature-slide-2.jpg);

		@media (max-width: 767px){
			background-image: url(../img/nsx-feature-slide-2-mob.jpg);
		}
	}
	.nsx-detail-slide-3 {
		background-image: url(../img/nsx-feature-slide-3.jpg);
		background-position: 34%;

		@media (max-width: 767px){
			background-image: url(../img/nsx-feature-slide-3-mob.jpg);
			background-position: bottom;
		}
	}
	.nsx-detail-slide-4 {
		background-image: url(../img/nsx-feature-slide-4.jpg);

		@media (max-width: 767px){
			background-image: url(../img/nsx-feature-slide-4-mob.jpg);
		}
	}
}

.back-btn {
	color: $white;
	padding: 0 11px;
	height: 26px;
	line-height: 28px;
	display: inline-block;
	opacity: 0.8;
	cursor: pointer;
	@extend .ease;
	position: absolute;
	top: 60px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 10px;
	left: -20px;
	position: relative;
	border: 1px solid $white;
	&:hover {
		opacity: 1;
		color: $white;
	}

	&:after {
		background: url(../img/back-arrow.png) no-repeat center center;
		display: block;
		position: absolute;
		top: -1px;
		right: -25px;
		content: "";
		height: 26px;
		border: 1px solid $white;
		border-left: 0;
		width: 9px;
		display: inline-block;
		padding: 6px 11px;
	}

}