.ease {
	transition: all 0.3s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}



.nsx-panel-features {
	height: 100%;
	overflow: hidden;
	background: $black url(../img/bg-nsx-features.jpg) no-repeat center center;

	.nsx-wrapper {
		max-width: 1425px;
		padding:0;

		@media (max-width: 767px) {
			padding:0;
		}	
	}
}

.nsx-features-slides {
	margin: 0;
}

.nsx-features-flexslider {
	//margin-left: -14px;
	margin: 0;
}


// Left Features Navigation Side

.nsx-features-nav {
	position: absolute;
	left: 15%;
	top: 15%;
	z-index: 20;
	padding: 0;
	margin: 0;
	width: 60px;
	list-style: none;
	z-index: 99;

	@media (max-width: 992px) {
		top: 5%;
	}

	@media (max-width: 767px) {
		width:72%;
		left:0;
		top:auto;
		bottom:30px;
		margin-left:14%;
		text-align: justify
	}

	@media (max-width: 400px) {
		width: 94%;
		margin-left: 3%;
		bottom:-24px;
	}	

	&:after{

		@media (max-width: 767px) {
			width:100%;
			display:inline-block;
			content:".";
			visibility:hidden;
				
		}	
	}
}

.nsx-feature-nav-item {
	border: 1px solid $white;
	border-radius: 100%;
	//overflow: hidden;
	margin: 0 auto 19px auto;
	width: 35px;
	height: 35px;
	background: no-repeat center center;
	background-size: 100%;
	@extend .ease;

	cursor: pointer;
	position: relative;

	&:hover {
		width: 40px;
		height: 40px;
	}

	&:last-of-type {
		&:after {
			display: none;
		}
	}

	&:before {
		@extend .ease;
		content: "";
		background: url(../img/side-nav-active.png) no-repeat center center;
		width: 54px;
		height: 32px;
		position: absolute;
		right: 0px;
		opacity: 0;
		bottom: 6px;

			@media (max-width: 767px) {
				display:none;
			}
		
			@media (max-width: 400px) {
				left:-8px;
			}
	}

	&:after {
		content: "";
		height: 17px;
		border-right: 1px dotted $white;
		bottom: -20px;
		position: absolute;
		left: 50%;

		@media (max-width: 836px) and (min-width: 768px) {
			height: 10px;
			bottom: -10px;
		}

		@media (max-width: 767px) {
			border-right: 0;
			border-bottom: 1px dotted #FFF;
			left: 100%;
			bottom: 16px;
			width: 150%;
			height: 0;
		}	

		@media (max-width: 500px) {
			width: 90%;
		}
	}

	&.nav-item-1 {
		background-image: url(../img/t_front34.jpg);
	}
	&.nav-item-2 {
		background-image: url(../img/t_front.jpg);
	}
	&.nav-item-3 {
		background-image: url(../img/t_top.jpg);
	}
	&.nav-item-4 {
		background-image: url(../img/t_back34.jpg);
	}
	&.nav-item-5 {
		background-image: url(../img/t_front34l.jpg);
	}
	&.nav-item-6 {
		background-image: url(../img/t_side.jpg);
	}
	&.nav-item-7 {
		background-image: url(../img/t_back.jpg);
	}

	&.active {
		width: 50px;
		height: 50px;
		@media (max-width: 767px){
			
		}
		@media (max-width: 400px) {
			width: 40px;
			height: 40px;
		}
		&:before {
			content: "";
			background: url(../img/side-nav-active.png) no-repeat center center;
			width: 54px;
			height: 32px;
			position: absolute;
			right: -54px;
			opacity: 1;

			@media (max-width: 767px) {
				display:none;
			}

			@media (max-width: 400px) {
				left:-7px;
				top: -90%;
			}
		}

		&:after {
			content: "";
			height: 17px;
			border-right: 1px dotted $white;
			bottom: -20px;
			position: absolute;
			left: 50%;

			@media (max-width: 767px) {
				border-right: 0;
				border-bottom: 1px dotted #FFF;
				left: 100%;
				bottom: 16px;
				width: 120%;
				height: 0;
			}	

			@media (max-width: 500px) {
				width: 90%;
			}
			
		}

	}
		@media (max-width: 836px) and (min-width: 768px) {
			margin: 0 auto 10px auto;
		}

		@media (max-width: 767px) {
			display:inline-block;
				
		}	
		@media (max-width: 400px) {
			width: 30px;
			height: 30px;
		}
}

//Tooltips

.nsx-tooltip {
	text-transform: uppercase;
	color: $white;
	font-weight: $light;
	opacity: 0.8;
	font-size: 14px;
	font-style: italic;
	position: absolute;
	cursor: pointer;
	font-size: 10px;
	line-height: 20px;
	@extend .ease;
	z-index: 999;
	display: block;
	padding-right: 10px;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}

	&.hidden {
		opacity: 0;
	}

	&:before {
		cursor: pointer;
		content: "";
		display: block;
		position: absolute;
		top: -7px;
		left: -37px;
		background: url(../img/tooltip-bg.png) no-repeat left center;
		width: 31px;
		height: 31px;
		margin-right: 7px;
	}


	&:hover {
		&:before {
			background: url(../img/tooltip-bg-hover.png) no-repeat left center;
		}
	}
	@media (max-width: 767px) {
			display: none;
		}	
}

.nsx-feature-slide-1 {
	.nsx-tooltip-interior {
		top: 210px;
		left: 583px;

		@media (max-width: 1420px) {
			top: 28%;
			left: 44%;
		}
	}

	.nsx-tooltip-technology {
		top: 215px;
		left: 720px;

		@media (max-width: 1420px) {
			top: 34%;
			left: 53%;
		}
	}

	.nsx-tooltip-multi {
		top: 482px;
		left: 553px;

		@media (max-width: 1420px) {
			top: 74%;
			left: 42%;
		}
	}
}

.nsx-feature-slide-2 {
	.nsx-tooltip-interior {
		top: 150px;
		left: 568px;

		@media (max-width: 1420px) {
			top: 23%;
			left: 41%;
		}
	}

	.nsx-tooltip-technology {
		top: 180px;
		left: 822px;

		@media (max-width: 1420px) {
			top: 28%;
			left: 59%;
		}
	}

}

.nsx-feature-slide-3 {
	.nsx-tooltip-engine {
		top: 301px;
		left: 523px;

		@media (max-width: 1420px) {
			top: 46%;
			left: 37%;
		}
	}

	.nsx-tooltip-technology {
		top: 220px;
		left: 784px;

		@media (max-width: 1420px) {
			top: 35%;
			left: 57%;
		}
	}
}

.nsx-feature-slide-4 {
	.nsx-tooltip-engine {
		top: 210px;
		left: 584px;

		@media (max-width: 1420px) {
			top: 32%;
			left: 37%;
		}
	}

	.nsx-tooltip-technology {
		top: 232px;
		left: 903px;

		@media (max-width: 1420px) {
			top: 37%;
			left: 65%;
		}
	}

	.nsx-tooltip-multi {
		top: 372px;
		left: 858px;

		@media (max-width: 1420px) {
			top: 56%;
			left: 62%;
		}
	}
}

.nsx-feature-slide-5 {

	.nsx-tooltip-interior {
		top: 190px;
		left: 764px;

		@media (max-width: 1420px) {
			top: 30%;
			left: 55%;
		}
	}

	.nsx-tooltip-technology {
		top: 212px;
		left: 573px;

		@media (max-width: 1420px) {
			top: 33%;
			left: 41%;
		}
	}

	.nsx-tooltip-multi {
		top: 372px;
		left: 768px;

		@media (max-width: 1420px) {
			top: 56%;
			left: 55%;
		}
	}
}

.nsx-feature-slide-6 {

	.nsx-tooltip-engine {
		top: 250px;
		left: 414px;

		@media (max-width: 1420px) {
			top: 38%;
			left: 29%;
		}
	}

	.nsx-tooltip-interior {
		top: 240px;
		left: 644px;

		@media (max-width: 1420px) {
			top: 36%;
			left: 47%;
		}
	}

	.nsx-tooltip-technology {
		top: 252px;
		left: 813px;

		@media (max-width: 1420px) {
			top: 38%;
			left: 59%;
		}
	}

	.nsx-tooltip-multi {
		top: 428px;
		left: 1048px;

		@media (max-width: 1420px) {
			top: 68%;
			left: 77%;
		}
	}

}

.nsx-feature-slide-7 {
	.nsx-tooltip-engine {
		top: 172px;
		left: 694px;

		@media (max-width: 1420px) {
			top: 27%;
			left: 51%;
		}
	}

	.nsx-tooltip-interior {
		top: 150px;
		left: 624px;

		@media (max-width: 1420px) {
			top: 23%;
			left: 45%;
		}
	}


	.nsx-tooltip-multi {
		top: 428px;
		left: 1048px;

		@media (max-width: 1420px) {
			top: 65%;
			left: 76%;
		}
	}
}

.btn-hide-hotspots {
	font-size: 11px;
	position: absolute;
	bottom: 79px;
	right: 0;
	z-index: 99;
	width: 234px;
	height: 28px;
	color: $white;
	font-style: italic;
	text-transform: uppercase;
	background: url(../img/hide-tooltips.png) no-repeat top left;
	padding-left: 24px;
	line-height: 50px;
	cursor: pointer;

	.txt-show-hotspots {
		display: none;
	}

	&.hide-tooltip {
		background: url(../img/show-tooltips.png) no-repeat top left;

		.txt-show-hotspots {
			display: block;
		}
		.txt-hide-hotspots {
			display: none;
		}
	}

	@media (max-width: 992px) {
			bottom:auto;
			top:53px;
			right:-44px;
		}

	@media (max-width: 767px) {
			display: none;
		}	
}

.nsx-download-wallpapers {
	position: absolute;
	bottom: 135px;
	right: 0px;
	z-index: 99;
	width: 234px;
	height: 66px;
	padding-left: 27px;
	background: url(../img/wallpaper-download-bg.png) no-repeat top 30px right;

	span {
		color: $white;
		font-style: italic;
		font-size: 11px;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 20px;
		br{
			@media (max-width: 992px) {
					display: none;
					}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@media (max-width: 992px) {
			display: inline-block;
			vertical-align: middle;
			line-height: 11px;
			margin-left: 10px;
		}

		> li {
			display: inline-block;
			margin-right: 10px;

				a {
					display:block;
					width:100%;
					height:100%;
					transition: all 0.2s ease;

					&:hover{
						opacity:0.6;
					}
				}
				
				@media (max-width: 992px) {
					display: none;

					&:nth-child(2){
						display: inline-block;
					}
				}

				@media (max-width: 767px) {
					display: none;

					&:first-child{
						display: inline-block;
					}
					&:nth-child(2){
						display: none;
					}
				}
		}


	}
	@media (max-width: 992px) {
		background-image:none;
		bottom:auto;
		margin:15px;	
		text-align:right;
		width: 400px;
	}
}