.nsx-panel-hero {
	height: 670px;
	background: $black url(../img/nsx-hero-panel.jpg) no-repeat center center;
	position: relative;
	overflow: hidden;

}

.nsx-logo {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -173px;
	width: 347px;
	height: 77px;
	background: url(../img/nsx-logo.png) no-repeat center center;

	@media (max-width: 400px){
		width: 94%;
		margin-left: 3%;
		background-size: 100%;
		left:0;
	}
	
}

.nsx-btn-play, .nsx-btn-play-mobile {
	width: 101px;
	height: 101px;
	left: 50%;
	margin-left: -50px;
	position: absolute;
	top: 209px;
	background: url(../img/play-btn.png) no-repeat center center;
	cursor: pointer;
}
.nsx-playbtn-link{
	display:block;
	height:100%;
	width:100%;
}
.nsx-hero-poster {
	background: url(../img/nsx-hero-panel.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 70px;
	right: 0;
	left: 0;
	height: 669px;
	z-index: 1;
	@media (max-width: 767px) {
	//height:400px;
	}	
}

.nsx-btn-pause {
	color: $white;
	text-transform: uppercase;
	font-style: italic;
	font-size: 15px;
	position: absolute;
	top: 30px;
	right: 30px;
	padding-right: 40px;
	line-height: 35px;
	cursor: pointer;
	opacity: 0.7;
	font-family: "UniversStd", sans-serif;
	transition: all 0.3s ease;
	display: none;
	
	&:after {
		content: "X";
		border: 1px solid $white;
		height: 30px;
		font-style: normal;
		width: 30px;
		line-height: 30px;
		position: absolute;
		display: block;
		right: 0px;
		top: 0;
		text-align: center;
	}

	&:hover {
		opacity: 1;
	}

}


.nsx-mute-btn {
	position: absolute;
	bottom: 30px;
	right: 50px;
	color: rgba(255,255,255,0.7);
	font-style: italic;
	font-size: 13px;
	text-transform: uppercase;
	padding-right: 40px;
	background: no-repeat bottom right;
	height: 20px;
	line-height: 36px;
	cursor: pointer;
	z-index: 99;
	display: none;
	@extend .ease;

	&:hover {
		color: rgba(255,255,255,1);
	}

	&.nsx-sound-off {
		background-image: url(../img/sound-off.png);
	}

	&.nsx-sound-on {
		background-image: url(../img/sound-on.png);
	}
}