.nsx-panel-history {
	height: 700px;
	background-color: $charcoal;

	&.nsx-history-device{
		background-image: url(../img/bg_heritage.jpg)!important;
		background-size:100%;
	}
	
	.nsx-wrapper {
		padding: 0 20px 0 200px;
		height:700px;
		//background: rgba(255,255,255,0.1);
		
		@media (max-width: 767px) {
			padding: 0 20px;
		}
	}

	@media (max-width: 992px) {
		padding: 60px 0;
		height: auto;
		
	}

	@media (max-width: 767px) {
		padding: 60px 0 120px;
		background: url(../img/bg_heritage.jpg)!important;
		height: 800px;
	}

	@media (max-width: 600px) {
		padding: 60px 0;
		height:700px;
	}

	@media (max-width: 400px) {
		height:750px;
	}
}
.nsx-histroy-content{
	height: 700px;
	padding-top: 134px;

	@media (max-width: 992px) {
		padding: 0;
		height: auto;
	}
}

.nsx-history-heading {
	line-height: 31px;
	padding-bottom: 17px;
	width:100%;
	@media (max-width: 767px) {
		font-size: 20px;
		padding-bottom:0;
		margin-bottom:0;
		border-bottom:0;
		&:after{
			display:none;
		}
	}
}

.history-subtitle {
	font-size: 18px;

	@media (max-width: 767px) {
		font-size: 25px;
	}	
}

.nsx-history-nav-ctr{
	position: absolute;
	top: 134px;
	left: 100px;

	@media (max-width: 767px) {
		width:80%;
		left:0;
		top:auto;
		bottom:-20px;
		margin-left:10%;
		text-align: justify;
	}

	@media (max-width: 600px) {
		bottom:52px;
	}

	@media (max-width: 400px) {
		width:90%;
		bottom:3%;
		margin-left:5%;
		
	}
}

.nsx-history-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	z-index:900;

	@media (max-width: 767px) {
		text-align: justify;
		height:50px;
	}

	&:after{
		
		@media (max-width: 767px) {
			width:100%;
			display:inline-block;
			content:".";
			visibility:hidden;
				
		}	
	}
}

.nsx-history-nav-item {
	background: $black no-repeat center center;
	background-size: 100%;
	@extend .ease;
	border-radius: 100%;
	height: 27px;
	width: 27px;
	border: 1px solid $white;
	line-height: 27px;
	text-align: center;
	margin: 0 auto 20px auto;
	color: $white;
	font-size: 11px;
	cursor: pointer;
	position: relative;

	&:after {
		content: "";
		height: 17px;
		border-right: 1px dotted $white;
		bottom: -20px;
		position: absolute;
		z-index: 99;
		left: 50%;

		@media (max-width: 767px) {
			border-right: 0;
			border-bottom: 1px dotted #FFF;
			left: 100%;
			bottom: 50%;
			width: 160%;
			height: 0;
			z-index: 0;
		}
		
		@media (max-width: 500px) {
			width: 100%;
		}	
	}

	span { 
			position: absolute;
			top: 34px;
			left: 10px;
	}

	&:before {
		@extend .ease;
		content: "";
		background: url(../img/side-nav-active.png) no-repeat center center;
		width: 54px;
		height: 32px;
		position: absolute;
		right: 0px;
		opacity: 0;

		@media (max-width: 767px) {
			display:none;
			
		}
	}

	@media (max-width: 767px) {
		display:inline-block;
		text-indent:99999px;;		
	}

	@media (max-width: 400px) {
		width:20px;
		height:20px;
	}

	&.active {
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 12px;

		@media (max-width: 400px) {
				width:30px;
				height:30px;
		}

		&:before {
			content: "";
			background: url(../img/side-nav-active.png) no-repeat center center;
			width: 54px;
			height: 32px;
			position: absolute;
			right: -54px;
			opacity: 1;

			@media (max-width: 767px) {
				display:none;
				//background: url(../img/side-nav-active-rot.png) no-repeat center center;
				//top: -33px;
				//left:-9px;
				//right:auto;
				//z-index: 0;
			}	

			@media (max-width: 400px) {
				left:-13px;
			}

			
		}



		&:after {
			content: "";
			height: 17px;
			border-right: 1px dotted $white;
			bottom: -20px;
			position: absolute;
			z-index: 99;
			left: 50%;

			@media (max-width: 767px) {
				border-right: 0;
				border-bottom: 1px dotted #FFF;
				left: 100%;
				bottom: 50%;
				width: 150%;
				height: 0;
				z-index: 0;
			}	

			@media (max-width: 500px) {
				width: 100%;
			}


		}

		

		&.nav-item-1 {
			background-image: url(../img/t_1983.jpg);
		}

		&.nav-item-2 {
			background-image: url(../img/t_1986.jpg);
		}

		&.nav-item-3 {
			background-image: url(../img/t_1989.jpg);
		}
		&.nav-item-4 {
			background-image: url(../img/t_1990.jpg);
		}

		&.nav-item-5 {
			background-image: url(../img/t_1995.jpg);
		}

		&.nav-item-6 {
			background-image: url(../img/t_1997.jpg);
		}

		&.nav-item-7 {
			background-image: url(../img/t_2002.jpg);
		}

		&.nav-item-8 {
			background-image: url(../img/t_2012.jpg);
		}

		&.nav-item-9 {
			background-image: url(../img/t_2015.jpg);
		}

	}

	&:last-of-type {
		&:after {
			display: none;
		}
	}

}
.nsx-history-mobile-years{
	padding:0;
	margin:0;	
}

.nsx-mobile-year{
	color:$white;	
	width: 27px;
	text-align: center;
	font-size: 13px;

	@media (max-width: 400px) {
		width:20px;
	}

	&.active{
		width:36px;

		@media (max-width: 400px) {
			width:30px;
		}
	}
}

.nsx-red-text {
	color: $red;
}

.nsx-history-description {
	height: 700px;
	position: relative;
	z-index: 99;
	width:48%;
	display:inline-block;
	padding-right:5%;
	right:50%;
	vertical-align:top;

	@media (max-width: 1200px) {
		width:34%;
		right:60%;
	}

	@media (max-width: 992px) {
		width:100%;
		display:block;
		right:auto;
		height:auto;
		padding-top:40px;
	}

	@media (max-width: 767px) {
		padding:0;
		top:0;
		max-width:600px;
		margin:0 auto;
	}
}

.v-center {
	display: inline-block;
	vertical-align: middle;
}

.nsx-history-image{
	width:48%;
	display:inline-block;

	@media (max-width: 767px) {
		margin:0 auto;
	}
}
.history-image {
	position: relative;
	top: 0;
	left:50%;
	z-index: -1;
	min-width:350px;

	.nsx-history-image {
		max-width: 600px;
		width:90% !important;
	}

	img.nsx-car-image {
		position: absolute;
		bottom: -125px;
		max-width: 440px;
		right: -80px;
		display:none !important;

		@media (max-width: 767px) {
			bottom: -80px;
		}
	}

	@media (max-width: 1200px) {
		width:59%;
		left:33%;
	}

	@media (max-width: 992px) {
		width:80%;
		display:block;
		left:auto;
		height:auto;
	}
	
	@media (max-width: 767px) {
		padding:0;
		top:auto;
		margin:0 auto 36px;
		min-width:0;
	}

	@media (max-width: 400px) {
		margin:0 auto 20px;
	}
}
.flex-active-slide img.nsx-car-image {
	display:block !important;
}
.nsx-history-paragraph {
	width: auto;

	@media (max-width: 992px) {
		font-size:15px;
		line-height:21px;
	}
}

.nsx-panel-history {

	.mbYTP_wrapper {
		&:before {
			content: "";
			background: rgba(0,0,0,0.7) url(../img/stripe-overlay.png)!important;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;

		}
	}
}

.nsx-pause-toggle {

	cursor: pointer;
	font-size: 13px;
	text-transform: uppercase;
	font-style: italic;
	position: absolute;
	bottom: 90px;
	right: 30px;
	color: $white;
	opacity: 0.7;
	border: 1px solid $white;
	height: 30px;
	line-height: 33px;
	width: 66px;
	text-align: center;
	z-index:900;
	@extend .ease;
	&:hover {
		opacity: 1;
	}

	@media (max-width: 992px) {
		bottom:0;
	}
}