.nsx-panel-history {
	height: 700px;
	background:$charcoal;
	.nsx-wrapper {
		padding: 0 200px;
		max-width: 1386px;
		height: 700px;
		background: rgba(255,255,255,0.1);
	}
}

.nsx-history-heading {
	line-height: 31px;
	padding-bottom: 17px;
}

.history-subtitle {
	font-size: 18px;
}

.nsx-history-nav {
	position: absolute;
	top: 160px;
	left: 100px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.nsx-history-nav-item {
	background: $black no-repeat center center;
	background-size: 100%;
	@extend .ease;
	border-radius: 100%;
	height: 27px;
	width: 27px;
	border: 1px solid $white;
	line-height: 27px;
	text-align: center;
	margin: 0 auto 20px auto;
	color: $white;
	font-size: 11px;
	cursor: pointer;
	position: relative;

	&:after {
		content: "";
		height: 17px;
		border-right: 1px dotted $white;
		bottom: -20px;
		position: absolute;
		z-index: 99;
		left: 50%;
	}

	&:before {
		@extend .ease;
		content: "";
		background: url(../img/side-nav-active.png) no-repeat center center;
		width: 54px;
		height: 32px;
		position: absolute;
		right: 0px;
		opacity: 0;
	}

	&.active {
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 12px;

		&:before {
			content: "";
			background: url(../img/side-nav-active.png) no-repeat center center;
			width: 54px;
			height: 32px;
			position: absolute;
			right: -54px;
			opacity: 1;
		}

		&:after {
			content: "";
			height: 17px;
			border-right: 1px dotted $white;
			bottom: -20px;
			position: absolute;
			z-index: 99;
			left: 50%;
		}

		&.nav-item-1 {
			background-image: url(../img/t_1983.jpg);
		}

		&.nav-item-2 {
			background-image: url(../img/t_1986.jpg);
		}

		&.nav-item-3 {
			background-image: url(../img/t_1989.jpg);
		}
		&.nav-item-4 {
			background-image: url(../img/t_1990.jpg);
		}

		&.nav-item-5 {
			background-image: url(../img/t_1995.jpg);
		}

		&.nav-item-6 {
			background-image: url(../img/t_1997.jpg);
		}

		&.nav-item-7 {
			background-image: url(../img/t_2002.jpg);
		}

		&.nav-item-8 {
			background-image: url(../img/t_2012.jpg);
		}

		&.nav-item-9 {
			background-image: url(../img/t_2015.jpg);
		}

	}

	&:last-of-type {
		&:after {
			display: none;
		}
	}

}

.nsx-red-text {
	color: $red;
}

.nsx-history-description {
	height: 700px;
	position: relative;
	z-index: 99;
	&:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em;
	}
}

.v-center {
	display: inline-block;
	vertical-align: middle;
}

.history-image {
	position: absolute;
	top: 100px;
	right: -100px;
	z-index: -1;

	.nsx-history-image {
		max-width: 600px;
	}

	.nsx-car-image {
		position: absolute;
		bottom: -80px;
		max-width: 440px;
		right: -80px;
	}
}

.nsx-history-paragraph {
	width: 450px;
}

.nsx-panel-history {

	.mbYTP_wrapper {
		&:before {
			content: "";
			background: rgba(0,0,0,0.7) url(../img/stripe-overlay.png)!important;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;

		}
	}
}

.nsx-pause-toggle {

	cursor: pointer;
	font-size: 13px;
	text-transform: uppercase;
	font-style: italic;
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: $white;
	opacity: 0.7;
	border: 1px solid $white;
	height: 30px;
	line-height: 33px;
	width: 66px;
	text-align: center;

	@extend .ease;
	&:hover {
		opacity: 1;
	}
}