.nsx-panel-info {
	height: 448px;
	background: $black url(../img/bg-nsx-info.jpg) no-repeat center center;
	color: $white;
	text-align: center;
	background-size: auto 100%;

	p {
		color: $white;
		opacity: 0.7;
		font-size: 15px;
		max-width: 750px;
		margin: 0 auto;
		line-height: 25px;

		&.nsx-info-p {
			margin-bottom: 25px;
		}

	}

	@media (max-width: 767px) {
		height:auto;
	}	

}

.nsx-divider {
	height: 1px;
	background: $white;
	width: 20px;
	margin: 30px auto;
	border: 0;
}

.nsx-panel-info {
	padding: 60px 0;
}


.nsx-info-heading {
	font-weight: $light;
	font-style: italic;
	margin: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 25px;
	color: $white;
}

.nsx-info-subheading {
	font-size: 18px;
	font-weight: $bold;
	color: $white;
	text-transform: uppercase;

	> a {
		color: $red;
		position: relative;
		&:after {
			content: "";
			height: 1px;
			background: $red;
			position: absolute;
			bottom: -2px;
			left: 0;
			right: 0;
		}

		@media (max-width: 400px) {
			font-size: 16px;
		}	
		
	}
}
