body{
	width:100%;
	overflow-x:hidden;
}
.nsx-wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;

	@media (min-width: 768px) and (max-width: 992px) {
		padding: 0 50px;
	}
}

.nsx-showroom-page {
  position: relative;
  box-sizing: border-box;
  font-family: "UniversStd", sans-serif;
  overflow-x:hidden;

	*, *:before, *:after {
	  box-sizing: inherit;
	}	
}

.nsx-panel {
	border-bottom: 1px solid $white;
	background-color: $black;
}

a {
	text-decoration: none;
}

//Overlay video background
.mbYTP_wrapper {
	&:before {
		content: "";
		background: url(../img/stripe-overlay.png)!important;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;

	}
}

#nsx-hero {
.mbYTP_wrapper {
	&:before {
		display: none;
	}
}

}
.nsx-more{
	position: relative;
	&:after {
		cursor: pointer;
		content: "";
		position: absolute;
		background: url(../img/angle-right.png) no-repeat center;
		background-size:100%;
		width: 10px;
		height: 10px;
		right: -15px;
		bottom:2px;
	}
}
