$normal: 300;

@mixin font-face($family, $filename, $weight: $normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("../webfonts/#{$filename}.eot");
    src: url("../webfonts/#{$filename}.eot?#iefix") format("embedded-opentype"),
         url("../webfonts/#{$filename}.woff") format("woff"),
         url("../webfonts/#{$filename}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('UniversStd', universltstd);
@include font-face('UniversStd', universltstd-light,    $weight: 300);
@include font-face('UniversStd', universltstd-bold,     $weight: 700);

@include font-face('UniversCn', universltstd-cn);
@include font-face('UniversCn', universltstd-cn-light,  $weight: 300);
@include font-face('UniversCn', universltstd-cn-bold,   $weight: 700);